{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>  Login Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{% static 'css2/log/style4.css' %}">
<link rel="shortcut icon" href="{% static 'images/logoo.jpg' %}" type="image/png">
<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>
<!-- partial:index.partial.html -->
<br><br>
<div class="container" onclick="onclick">
  <div class="top"></div>
  <div class="bottom"></div><br>
  <form action="/" method="POST">
    {% csrf_token %}
    <br>
    <br>
  <div class="center">
    <br><br><br><br><br>
    <h2> Login</h2>
    <br><br><br>
    <input type="text" name="Username" placeholder="Username" required><br>
  <input type="password" name="password" placeholder="password" required>
    <br>
    <button type="submit">Login</button><br>
    <a class="btn btn-primary" href="{% url 'instructreg' %}" role="button">New user?</a><br>
    
    
     
      <h3 style="color: brown;">{{msg}}</h3>
    
  </div>
</form>
</div>

<!-- partial -->
  <script src="{% static 'js/log/script.js' %}"></script>
  <script src='https://codepen.io/banik/pen/3f837b2f0085b5125112fc455941ea94.js'></script>
</body>
</html>